@import "list.css";

div p {
    text-align: center;
    text-decoration: none;
    content: url("pdficon.jpg");
    font-size: 20px;
    content: "This is my content.";
    font-size: 20;
    content: counter(par-num)
}


a {
  text-align: center;
}

@media screen and (min-width: 900px) {
    article {
      padding: 1rem 3rem;
    }
}
