/* https://developer.mozilla.org/en-US/docs/Web/CSS/Selector_list */

/* Selects all matching elements */
span,
div {
  border: red 2px solid;
}

#main,
article {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 { font-family: helvetica; }

h1 { font-family: sans-serif }
h2 { font-family: sans-serif }
h3 { font-family: sans-serif }
